.btn {
    outline: none;
	outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
.btn:focus, .btn.active:focus, .btn:active:focus {
    outline: none;
	outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.btn-default:focus {
    background: #E8E8E8;
}

.fa.fa-cloud-upload {
    margin-left: 5px;
}
.fa.fa-cloud-upload::before {
    color: #03A903;
    font-size: 21px;
}



.product-graphic {
  text-align:center;
  width: 128px;
  height: 67px;
  position: relative;
  margin: 44px auto 0;
}

.uploadCTA {
    position: relative;
    left: -100px;
    border: 1px solid #0d3f1a;
    background-color: #0d3f1a;
    display: inline-block;
    padding: 6px 22px;
    margin-right: 12px;
    border-radius: 6px;
    color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-animation: fadein 2s forwards;
    /* Safari, Chrome and Opera > 12.1 */
    
    -moz-animation: fadein 2s forwards;
    /* Firefox < 16 */
    
    -ms-animation: fadein 2s forwards;
    /* Internet Explorer */
    
    -o-animation: fadein 2s forwards;
    /* Opera < 12.1 */
    
    animation: fadein 2s forwards;
}
/* arrow right*/
.uploadCTA:after { 
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(13, 63, 26, 0);
    border-left-color: #0d3f1a;
    border-width: 8px;
    margin-top: -8px;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        left: 0;
    }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        left: 0;
    }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        left: 0;
    }
}
/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        left: 0;
    }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        left: 0;
    }
}











.noFilesAdded {
    font-size: 16px;
    color: #333;
    text-align: center;
}

.noFilesAdded .product-graphic {
    /*margin-bottom: 62px;*/
    text-align: center;
    margin-top: 163px;
}

.noFilesAdded .btn .fa-2x {
    font-size: 22px;
}





/*
SUBSCRIPTION STATUSES
*/


.subStat {
    display: none;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 17px;
    margin-bottom: 12px;
    padding: 4px;
    }
    .subStat.active {
        display: inline-block;
    }

    .subStat.trial {
        background: #4AB767;
        
    }
        .subStat.trial .btn-white {
            background-color: white;
            color: green;
            margin-left: 12px;
        }

    .subStat.expired, .subStat.suspended, .subStat.cancelled {
        background: red;
    }
    .subStat.expired .btn-white, .subStat.suspended .btn-white, .subStat.cancelled .btn-white {
            background-color: white;
            color: red;
            margin-left: 12px;
        }


#subscriberStatus {
    display: none;
      font-size: 12px;
      border: 1px solid #00D200;
      padding: 6px;
      color: #1ACD1A;
      bottom: 5px;
      position: relative;
}


/*TABLET GLOBAL BUTTON CLASSES
*/
@media  (min-width: 769px) and (max-width: 1200px) {

        .app-header .title-block {
          float: left;
          width: 25%;
        }

        .app-header .global-actions {
          float: left;
          width: 75%;

        }

}


/*MOBILE SUBSCRIPTION HEADER CLASSES
*/

 @media screen and (max-width: 660px) {

        .app-header .global-actions {
                  text-align: center;
                }
                
        .product-graphic {
            margin: 44px auto 0;
            width: 116px;

        }
        .noFilesAdded .product-graphic {
            margin-top: 44px;
        }

        
          .uploadCTA {
            width: 63%;
            text-align: center;
            padding: 4px 67px;
            top: 44px;
            left: 0;
            margin-bottom: 22px;
            -webkit-animation: fadeup 2s forwards;
            /* Safari, Chrome and Opera > 12.1 */
            
            -moz-animation: fadeup 2s forwards;
            /* Firefox < 16 */
            
            -ms-animation: fadeup 2s forwards;
            /* Internet Explorer */
            
            -o-animation: fadeup 2s forwards;
            /* Opera < 12.1 */
            
            animation: fadeup 2s forwards;

            }

            
            /* arrow bottom*/
          .uploadCTA:after {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(13, 63, 26, 0);
                border-top-color: #0d3f1a;
                border-width: 8px;
                margin-left: -8px;
                margin-top: 0;
            }

            .app-header {
                padding-top: 0;
            }

    }



@keyframes fadeup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}
/* Firefox < 16 */

@-moz-keyframes fadeup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}
/* Internet Explorer */

@-ms-keyframes fadeup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}
/* Opera < 12.1 */

@-o-keyframes fadeup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}


