
<!DOCTYPE html>
<html ng-app="MockupsApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>UX Mockups</title>

    <!-- app css -->
    <link href="../../bower_components/rv-common-style/dist/css/rise.min.css" rel="stylesheet" type="text/css">
    <link href="../../bower_components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css" rel="stylesheet" type="text/css">
    <link href="../../bower_components/bootstrap-select/bootstrap-select.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.2.23/angular-touch.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../../bower_components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
    <!-- app js -->	 
    <script src="../../js/app.js"></script>
  </head>

  <body>
	<!-- Header Nav -->
	<div ng-init="navs = [{
	url:'menu.html',
	label:'Menu Item'
	}]">
	</div>

	<!-- Main View -->
    <div ng-include="'../../partials/common-header.html'" scope="" onload=""></div>
    <div class="overlay"></div>
    <div class="container-fluid">
    <div class="modal-dialog modal-lg">
    <!-- MODAL-->
    <div class="modal-content">
			
	<!-- Start Modal Header-->
    <div class="modal-header">
      <button type="button" class="close">
      <i class="fa fa-times half-top"></i>
      </button>
      <h2 class="modal-title">Google Spreadsheet Settings<button class="btn btn-link">
                  <i class="fa fa-github fa-2x"></i></button>
      </h2> 
    </div>	
	<!-- End Modal Header-->

	<!-- Start Modal Body-->
    <div class="modal-body">
       
      <!--Spreadsheet-->
      <label class="control-label">Spreadsheet</label>
      <div class="input-group custom-addon half-top">
        <div class="content-box-editable clickable">
          <div class="label label-tag"><a href="#">Spreadsheet Selected</a><a href="#"><i class="fa fa-times icon-right"></i></a></div>	  
        </div>
        <span class="input-group-addon">
          <button type="button" class="btn btn-google-drive add-bottom"></button>
        </span>
      </div>		 

      <!-- Data Selection -->
      <label class="control-label">Data Selection</label>
      <div class="row">	 
          <div class="radio">
              <div class="col-md-2">
                <label class="radio-inline add-bottom">
                  <input type="radio" name="inlineRadioOptions" value="1" checked> Entire Sheet
                </label>
              </div>
              <div class="col-md-2">
                  <label class="radio-inline add-bottom">
                  <input type="radio" name="inlineRadioOptions" value="0" > Range
                </label>
              </div>
          </div>
      </div>
      <div class="row">	 
        <div class="col-md-12">
          <div class="form-group">
          <input name="url" type="null" class="form-control" placeholder="Please Enter a Cell Range">
          </div>
        </div>
      </div>
      <!-- Worksheet-->
      <div class="row">	 
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Worksheet</label>
            <select class="form-control">
              <option value="Fade">Sheet 1</option>
                <option value="Fade">Sheet 2</option>
                <option value="Fade">Sheet 3</option>
                <option value="Fade">Sheet 4</option>
            </select>
          </div>
        </div>
        <!--Specify Header Rows-->	 
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Header Rows</label>
            <select class="form-control">
              <option value="Fade">None</option>
                <option value="Fade" selected>1</option>
                <option value="Fade">2</option>
                <option value="Fade">3</option>
                <option value="Fade">4</option>
                <option value="Fade">5</option>
                <option value="Fade">6</option>
                <option value="Fade">7</option>
                <option value="Fade">8</option>
                <option value="Fade">9</option>
                <option value="Fade">10</option>
            </select>
          </div>
        </div>
        
        <!-- Data Refresh Interval-->
        <div class="col-md-3">
            <div class="form-group">
            <label class="control-label">Data Refresh Interval</label>
               <div class="input-group">
                   <input id="scroll-horizontal" name="scrollHorizontal" type="number"  class="form-control" value="10">
                   <span class="input-group-addon ng-binding">sec</span>
                </div>
            </div>
        </div>
      </div>  
      <hr/>
      <br/>  
      
      <!-- Row Padding-->
      <div class="row">	 
        <div class="col-md-3">
            <div class="form-group">
            <label class="control-label">Row Padding</label>
               <div class="input-group">
                   <input id="scroll-horizontal" name="scrollHorizontal" type="number"  class="form-control" value="0">
                   <span class="input-group-addon ng-binding">px</span>
                </div>
            </div>
        </div>
        
        <!-- Row Color-->
        <div class="col-md-2">
          <div class="form-group">
          <label class="control-label">Row Color</label>
            <div>
            <input color-picker="" id="row-color" color="table.rowColor" type="background" class="ng-isolate-scope" _vkenabled="true" style="display: none;"><div class="sp-replacer background-color-picker sp-light"><div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgba(0, 0, 0, 0);"></div></div><b class="caret"></b></div>
            </div>
          </div>
        </div>
        <!-- Alternate Row Color-->
        <div class="col-md-6">
        <div class="form-group">
        <label class="control-label">Alternate Row Color</label>
          <div>
          <input color-picker="" id="row-color" color="table.rowColor" type="background" class="ng-isolate-scope" _vkenabled="true" style="display: none;"><div class="sp-replacer background-color-picker sp-light"><div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgba(0, 0, 0, 0);"></div></div><b class="caret"></b></div>
          </div>
        </div>
        </div>
      </div>
      
      <!--Header Format-->
      <div class="row">	 
      <div class="col-md-12">
          <label class="control-label">Header Format</label>
          <ul class="list-inline font-setting" >
              <!-- Font Family -->
              <li class="pull-left">
                  <font-picker>
                      <div class="font-picker">
                      <div class="bfh-selectbox">
                      <input class="font-family" type="hidden" value="Verdana">
                      <button type="button" class="btn btn-default btn-sm dropdown-toggle font-select-btn" data-toggle="bfh-selectbox">
                      <span class="bfh-selectbox-option">Verdana</span>
                      <span class="caret selectbox-caret"></span>
                      </button>
                      <div class="bfh-selectbox-options">
                      <div role="listbox">

                      </div>
                      </div>
                      </div>

                      <!-- Custom Font -->
                      <div class="custom-font modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
                      <div class="modal-dialog">

                      </div>
                      </div>
                      </div>
                  </font-picker>
              </li>

              <!-- Font Size -->
              <li class="pull-left">
              <font-size-picker ng-model="fontData.size" class="ng-pristine ng-valid">
                  <select class="form-control bfh-fontsizes" data-style="btn-default btn-sm" style="display: none;">
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="14">14</option>
                      <option value="18">18</option>
                      <option value="24">24</option>
                      <option value="30">30</option>
                      <option value="36">36</option>
                      <option value="48">48</option>
                      <option value="60">60</option>
                      <option value="72">72</option>
                      <option value="96">96</option>
                  </select>
                  <div class="btn-group bootstrap-select form-control bfh-fontsizes">
                      <button type="button" class="btn dropdown-toggle selectpicker btn-default btn-sm" data-toggle="dropdown" title="20">
                          <span class="filter-option pull-left">20</span>&nbsp;
                          <span class="caret"></span></button>
                      <div class="dropdown-menu open"></div>
                  </div>
                </font-size-picker>
            </li>
              <!--Bold Italic Underlined-->
              <li class="font-setting-button">
              <font-style bold="fontData.bold" italic="fontData.italic" underline="fontData.underline" class="ng-isolate-scope"><div class="btn-group">
          <a class="btn btn-sm btn-default bold" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1">B</a>
          <a class="btn btn-sm btn-default italic" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1">I</a>
          <a class="btn btn-sm btn-default underline" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1">U</a>
          </div>
          </font-style>
            </li>

              <!--Font Color-->
              <li class="pull-left font-setting-button">
              <input color-picker="" type="text" color="fontData.color" class="ng-isolate-scope" style="display: none;"><div class="sp-replacer text-color-picker sp-light"><div class="sp-preview" style="border-color: rgb(0, 0, 0);"><div class="sp-preview-inner"><div class="sp-preview-char">A</div></div></div><b class="caret"></b></div>
            </li>

              <!--Font Highlight-->
              <li class="pull-left font-setting-button">
              <input color-picker="" type="highlight" color="fontData.highlightColor" class="ng-isolate-scope" style="display: none;"><div class="sp-replacer highlight-color-picker sp-light"><div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgba(0, 0, 0, 0);"><img src="http://s3.amazonaws.com/rise-common-test/scripts/spectrum/images/text-highlight.png"></div></div><b class="caret"></b></div>
            </li>

          </ul>
          </div>
      </div>    
      <div class="row">
			<div class="col-md-12">	 
				<div class="font-picker-text form-group">
				  <span class="ng-binding" style="font-family: Verdana; font-size: 20px; font-weight: normal; font-style: normal; text-decoration: none; color: black; background-color: transparent;">Header Format Sample Text</span>
				</div>
			 </div>
		</div>
      <!--End Header Format-->

      <!--Data Format-->
      <div class="row">	 
      <div class="col-md-12">
          <label class="control-label">Data Format</label>
          <ul class="list-inline font-setting" >
              <!-- Font Family -->
              <li class="pull-left">
                  <font-picker>
                      <div class="font-picker">
                      <div class="bfh-selectbox">
                      <input class="font-family" type="hidden" value="Verdana">
                      <button type="button" class="btn btn-default btn-sm dropdown-toggle font-select-btn" data-toggle="bfh-selectbox">
                      <span class="bfh-selectbox-option">Verdana</span>
                      <span class="caret selectbox-caret"></span>
                      </button>
                      <div class="bfh-selectbox-options">
                      <div role="listbox">

                      </div>
                      </div>
                      </div>

                      <!-- Custom Font -->
                      <div class="custom-font modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
                      <div class="modal-dialog">

                      </div>
                      </div>
                      </div>
                  </font-picker>
              </li>

              <!-- Font Size -->
              <li class="pull-left">
              <font-size-picker ng-model="fontData.size" class="ng-pristine ng-valid">
                  <select class="form-control bfh-fontsizes" data-style="btn-default btn-sm" style="display: none;">
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="14">14</option>
                      <option value="18">18</option>
                      <option value="24">24</option>
                      <option value="30">30</option>
                      <option value="36">36</option>
                      <option value="48">48</option>
                      <option value="60">60</option>
                      <option value="72">72</option>
                      <option value="96">96</option>
                  </select>
                  <div class="btn-group bootstrap-select form-control bfh-fontsizes">
                      <button type="button" class="btn dropdown-toggle selectpicker btn-default btn-sm" data-toggle="dropdown" title="20">
                          <span class="filter-option pull-left">20</span>&nbsp;
                          <span class="caret"></span></button>
                      <div class="dropdown-menu open"></div>
                  </div>
                </font-size-picker>
            </li>
              <!--Bold Italic Underlined-->
              <li class="font-setting-button">
              <font-style bold="fontData.bold" italic="fontData.italic" underline="fontData.underline" class="ng-isolate-scope"><div class="btn-group">
          <a class="btn btn-sm btn-default bold" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1">B</a>
          <a class="btn btn-sm btn-default italic" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1">I</a>
          <a class="btn btn-sm btn-default underline" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1">U</a>
          </div>
          </font-style>
            </li>

              <!--Font Color-->
              <li class="pull-left font-setting-button">
              <input color-picker="" type="text" color="fontData.color" class="ng-isolate-scope" style="display: none;"><div class="sp-replacer text-color-picker sp-light"><div class="sp-preview" style="border-color: rgb(0, 0, 0);"><div class="sp-preview-inner"><div class="sp-preview-char">A</div></div></div><b class="caret"></b></div>
            </li>

              <!--Font Highlight-->
              <li class="pull-left font-setting-button">
              <input color-picker="" type="highlight" color="fontData.highlightColor" class="ng-isolate-scope" style="display: none;"><div class="sp-replacer highlight-color-picker sp-light"><div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgba(0, 0, 0, 0);"><img src="http://s3.amazonaws.com/rise-common-test/scripts/spectrum/images/text-highlight.png"></div></div><b class="caret"></b></div>
            </li>

          </ul>
          </div>
      </div>    
      <div class="row">
          <div class="col-md-12">	 
              <div class="font-picker-text form-group">
                <span class="ng-binding" style="font-family: Verdana; font-size: 20px; font-weight: normal; font-style: normal; text-decoration: none; color: black; background-color: transparent;">Data Format Sample Text</span>
              </div>
           </div>
      </div>
      <!--End Data Format-->			 
      <hr/>
      <br/>
		 
      <!--Select Columns to Format-->
      <div class="row">	 
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Select Columns To Format</label>
            <select class="form-control">
              <option value="Fade">None</option>
                <option value="Fade">A</option>
                <option value="Fade">B</option>
                <option value="Fade">C</option>
                <option value="Fade">D</option>
            </select>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="collapse-panel panel-heading">
          <a href="" ondragstart="return false;" ng-class="{'panel-heading':true, collapsed:!collapse}" ng-click="collapse=!collapse" class="ng-binding panel-heading collapsed">
             B
          </a>
          <a href="" ondragstart="return false;" class="fa fa-minus-circle fa-lg remove-column-button" ng-click="remove()"></a>
        </div>
        <div ng-class="{'panel-collapse':true, collapse:true, in:collapse}" class="panel-collapse collapse">
          <div class="panel-body">
           <!-- header -->
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="column-header-text" class="ng-binding">
                    Header Text
                  </label>
                  <input id="column-header-text" type="text" ng-model="column.headerText" class="form-control ng-pristine ng-valid">
                </div>
              </div>
            </div>
            <!-- width -->
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="column-width" class="ng-binding">
                    Width
                  </label>
                  <div class="input-group">
                    <input id="column-width" type="number" ng-model="column.width" class="form-control ng-pristine ng-valid ng-valid-number">
                    <span class="input-group-addon ng-binding">px</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- align -->
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="ng-binding">
                    Alignment
                  </label> <br>
                  <alignment align="column.align" class="ng-isolate-scope"><div class="btn-group alignment">
        <button type="button" class="btn btn-default btn-sm btn-alignment dropdown-toggle" data-toggle="dropdown" data-wysihtml5-command-value="left">
          <i class="fa fa-align-left"></i>
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu" role="menu">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="left" tabindex="-1">
              <i class="fa fa-align-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="center" tabindex="-1">
              <i class="fa fa-align-center"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="right" tabindex="-1">
              <i class="fa fa-align-right"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="justify" tabindex="-1">
              <i class="fa fa-align-justify"></i>
            </button>
          </div>
        </div>
      </div>
      </alignment>
                </div>
              </div>
            </div>
            <!-- decimal -->
            <!-- ngIf: column.type === 'int' || column.type === 'number' -->
            <!-- sign -->
            <!-- ngIf: column.type === 'int' || column.type === 'number' -->
            <!-- color-condition -->
            <!-- ngIf: column.type === 'int' || column.type === 'number' -->
            <!-- date -->
            <!-- ngIf: column.type === 'date' || column.type === 'datetime' -->
            <!-- END options -->
          </div>
        </div>
      </div>
      <hr/>
      
      <!--Scroll Settings-->
      <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label ng-binding">Scroll</label>
          <select id="scroll-by" ng-model="scroll.by" class="form-control ng-valid ng-dirty">
            <option value="none" class="ng-binding" selected>None</option>
            <option value="continuous" class="ng-binding">Continuously</option>
            <option value="page" class="ng-binding">By Page</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" ng-show="scroll.by != 'none'">
        <div class="form-group">
          <label class="control-label ng-binding">Speed</label>
          <select id="scroll-speed" ng-model="scroll.speed" class="form-control ng-pristine ng-valid">
            <option value="slowest" class="ng-binding">Slowest</option>
            <option value="slow" class="ng-binding">Slow</option>
            <option value="medium" class="ng-binding">Medium</option>
            <option value="fast" class="ng-binding">Fast</option>
            <option value="fastest" class="ng-binding">Fastest</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" ng-show="scroll.by != 'none'">
        <div class="form-group">
          <label class="control-label ng-binding">Pause</label>
          <div class="input-group">
            <input id="scroll-pause" type="number" ng-model="scroll.pause" class="form-control ng-pristine ng-valid ng-valid-number" placeholder="5">
            <span class="input-group-addon ng-binding">sec</span>
          </div>
        </div>
      </div>
      </div>
      <hr/>
 
      <!-- Layout -->
      <label class="control-label add-top">Layout</label>
      <div class="row">	 
        <div class="checkbox">
            <div class="col-md-12">
              <label class="control-label">
                <input type="checkbox" name="inlineRadioOptions" value="1"> Use Default Layout
              </label>
            </div>
        </div>
      </div>
      
      <!-- Custom Layout URL-->
		<div class="form-group">
			<label ng-if="!hideLabel" class="control-label">URL</label>
			<input name="url" type="null" class="form-control" placeholder="http://">
		  <div class="checkbox" ng-show="forcedValid || !valid">
			<label class="ng-binding">
			  <input name="validate-url" type="checkbox" value="validate-url"> Remove Validation
			</label>
		  </div>
	</div><!-- END RSS URL-->
      
    </div><!-- End Modal Body-->
		
	<!--Modal Footer-->
	<div class="modal-footer">
    <div class="pull-right">
      <button type="button" class="btn btn-primary btn-fixed-width" ng-click="save()" ng-disabled="forms.companyForm.$invalid">Save
        <i class="fa fa-white fa-check icon-right"></i>
      </button>
      <button type="button" class="btn btn-default btn-fixed-width close-company-settings-button" data-dismiss="modal" ng-click="closeModal()">Cancel
        <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
  </div>
    <!-- End Modal Footer-->
		
	</div><!-- End Modal Content-->
	</div><!-- End Modal -->
	</div><!-- End Container Fluid-->

  </body>
</html>
