<div class="common-footer">
  <div class="container">
    <div class="row no-gutter">
      <div class="col-sm-6">
          <span class="footer-col">
          <h4>About</h4>
          <a href="/about">Our Story</a>
          <a href="/about#team">Our Team</a>

          <a href="http://blog.risevision.com/" target="/blank">Blog</a>
          </span><!--col-->
          <span class="footer-col">
          <h4>Resources</h4>
          <a href="/pricing">Pricing</a>
          <a href="https://developer.risevision.com/" target="_blank">API</a>
          <a href="/sellers">Sellers</a>
          </span><!--col-->
      </div><!--col-->
      <div class="col-sm-6">
          <span class="footer-col">
          <h4>Rise Apps</h4>
          <a href="https://rva.risevision.com/#PRESENTATIONS" target="_blank">Editor</a>
          <a href="https://storage.risevision.com/" target="_blank">Storage</a>
          <a href="https://rva.risevision.com/#SCHEDULES" target="_blank">Schedules</a>
          <a href="https://rva.risevision.com/#DISPLAYS" target="_blank">Displays</a>
          <a href="https://store.risevision.com" target="_blank">Store</a>
        </span><!--col-->
        <span class="footer-col">
          <h4>Help and Support</h4>
          <a href="https://support.risevision.com" target="_blank">Premium Support</a>
          <a href="https://help.risevision.com/user" target="_blank">User Documentation</a>
          <a href="https://help.risevision.com/#/developer" target="_blank">Developer Documentation</a>
          <a href="https://community.risevision.com/rise_vision_inc/" target="_blank">Community</a>
          <a href="/webinars">Webinars</a>
        </span><!--col-->
      </div><!--col-->
    </div>

    <div class="bottom-links">
      <div class="row">
        <div class="col-sm-3">
          <a class="btn btn-default btn-sm" href="https://plus.google.com/+Risevision/about" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
          <a class="btn btn-default btn-sm" href="https://twitter.com/risevision" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="/contact" class="btn btn-sm btn-default">Contact Us</a><br class="visible-xs">
          <a href="/terms-service-privacy">Terms of Service</a> · <a href="https://store.risevision.com/terms">Store Terms</a>
        </div>

      </div>
    </div><!--bottom-links-->

  </div><!--container-->
</div><!--common-footer-->



