<div class="hidden-xs">
<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'create.html'" scope="" onload=""></div>
      </div>
    </div><!--feature-->
  </div><!--col-->
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'manage.html'" scope="" onload=""></div>
      </div>
    </div>
  </div><!--col-->
</div><!--row-->
<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'display.html'" scope="" onload=""></div>         
      </div>
    </div>
  </div><!--col-->
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'extend.html'" scope="" onload=""></div>
      </div>
    </div>
  </div>  
</div><!--row-->
</div>

<div class="visible-xs">
<div class="row">
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'create.html'" scope="" onload=""></div>
      </div>
    </div><!--feature-->
  </div><!--col-->
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'manage.html'" scope="" onload=""></div>
      </div>
    </div>
  </div><!--col-->
</div><!--row-->
<div class="row">
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'display.html'" scope="" onload=""></div>         
      </div>
    </div>
  </div><!--col-->
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'extend.html'" scope="" onload=""></div>
      </div>
    </div>
  </div>  
</div><!--row-->
</div>

<script type="text/ng-template" id="create.html">
  <div class="image"><img src="images/editor.png"></div>
  <h3>Create</h3>
  <p>Use our editor and widgets to create engaging presentations or your HTML editor of choice. No proprietary content here.</p>
  <p>What content do we have? Browse our <a href="https://store.risevision.com/?cat=Content" target="_blank">widgets</a>, and if you need creative help checkout the available <a href="https://store.risevision.com/?cat=Design%20Services" target="_blank">graphic & web design</a> services in the Store.</p>
</script>

<script type="text/ng-template" id="manage.html">
  <div class="image"><img src="images/manage.png"></div>
  <h3>Manage</h3>
  <p>Schedule and deliver your content to an unlimited numbers of displays, anywhere, anytime.</p>
<p>Not sure where to start? Sign up for our <a href="/webinars">getting started webinar</a>, or, take a <a href="https://store.risevision.com/?cat=Training" target="_blank">private one-on-one training</a> session. Have more questions? Join our vibrant <a href="https://community.risevision.com/" target="_blank">community</a> or if you prefer, sign up for <a href="https://support.risevision.com/" target="_blank">priority support</a>.</p>
</script>

<script type="text/ng-template" id="display.html">
  <div class="image"><img src="images/display.png"></div>
  <h3>Display</h3>
  <p>Drive displays of any type, including touch screens, video walls and LED/LCD with our Chrome App Player from anywhere a Chrome browser will run.</p><p>Need a computer to drive that display? Compare the digital signage <a href="https://store.risevision.com/?cat=Media%20Players" target="_blank">media player</a> options that we have available in our Store.</p>
</script>

<script type="text/ng-template" id="extend.html">
  <div class="image"><img src="images/extend.png"></div>
  <h3>Extend</h3>
  <p>Add what you need with our public API’s, open source code and non-proprietary HTML content, and yes, sell your creations in the Store.</p><p>Visit <a href="https://developer.risevision.com/" target="_blank">developer resources</a> to get started on your next project.</p>
</script>