 <div class="home-banner sub-banner">
            <div class="container">
                <div class="col-xs-12">
                     <h2>Can You Make Amazing Digital Signage?</h2>
                     <p>Think big screens. All those displays you see in coffee shops, hospitals, schools, banks, and pretty much any business or organization with a physical presence. Now imagine combining your HTML design skills with Rise Vision. We think it’s the perfect recipe for amazing digital signage. Did we mention you can manage and display your HTML content for FREE?</p>
                  <p>Whether you’re a novice or a seasoned web designer, Rise Vision makes it simple to display and schedule HTML content on your on-premise digital signs. How? Rise Vision digital signage content uses the same building blocks as any page on the web. That’s right, nothing proprietary here! You can reuse the HTML, CSS or JavaScript from your web pages to create an amazing on-premise digital signage experience.
</p>
                  <p>You bring your imagination and favorite web design tools. We’ll provide the rest! Interested? Signup below and we’ll shoot you an email with everything you need to get started.
</p>          
                </div>
            </div>
            <!--container-->
        </div>
        <!--home-banner-->