
<!DOCTYPE html>
<html ng-app="MockupsApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>UX Mockups</title>

    <!-- app css -->
    <link href="../../../bower_components/rv-common-style/dist/css/rise.min.css" rel="stylesheet" type="text/css">
    <link href="css/settings-video.css" rel="stylesheet" type="text/css">
	  <link href="../../../bower_components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css" rel="stylesheet" type="text/css">
	  <link href="../../../bower_components/bootstrap-select/bootstrap-select.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.2.23/angular-touch.js"></script>
    <script src="../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../../../bower_components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
    <!-- app js -->	 
    <script src="../../../js/app.js"></script>
	<style>
      
    </style>
  </head>

  <body>
	
	<!-- Main View -->
    <div ng-include="'../../../partials/common-header.html'" scope="" onload=""></div>
	<div class="container-fluid">
    <div class="modal-dialog modal-lg">
	<!-- MODAL-->
	<div class="modal-content scrollable-list">
			
	<!-- Start Modal Header-->
    <div class="modal-header">
      <button type="button" class="close">
        <i class="fa fa-times half-top"></i>
      </button>
      <h2 class="modal-title">Image Settings 
        <button class="btn btn-link">
          <i class="fa fa-github fa-2x icon-gray"></i>
        </button>
      </h2> 	
    </div><!-- End Modal Header-->

	<!-- Start Modal Body-->
	 <div class="modal-body">
		<!-- Specify Video-->
		<div class="form-group">
		 <label class="control-label remove-bottomp">How do you want to show your image(s)?</label>
          <div class="row half-top half-bottom">	 
            
                <div class="col-md-12">
                  <button type="button" class="btn btn-default btn-fixed-width" onclick="document.location='in-app-storage_single-stage1.html';">Single Image
                <img src="img/storage-image.png" class="storage-selector-icon icon-right">
              </button>
              <button type="button" class="btn btn-default btn-fixed-width" onclick="document.location='in-app-storage_folder-stage1.html';">Folder of Image(s)
                <img src="img/storage-image.png" class="storage-selector-icon icon-right">
              </button>
              <button type="button" class="btn btn-default active" onclick="document.location='settings-image-url_default-v2.html';">Custom URL
                <i class="fa fa-link fa-large"></i>
              </button>
                </div>
          </div>
          
          <input type="text" class="form-control" value="Enter a valid URL to an Image" onclick="document.location='settings-image-url_invalid-v2.html';">
          
</div><!-- END Specify Video-->
<!-- Scale to Fit-->
       <div class="form-group">
        <div class="checkbox">
          <label for="scale-to-fit" class="ng-binding">
            <input type="checkbox" checked>Scale to Fit
          </label>
        </div>
        </div>
       
      <!-- Alignment-->
        <div class="form-group">
          <position-setting><div class="row">
          <div class="col-md-4">
            <label class="ng-binding ng-scope"> Alignment</label>
            <select name="position" class="form-control">
              <option value="top-left" class="ng-binding" selected>Top Left</option>
              <option value="top-center" class="ng-binding">Top Center</option>
              <option value="top-right" class="ng-binding">Top Right</option>
              <option value="middle-left" class="ng-binding">Middle Left</option>
              <option value="middle-center" class="ng-binding">Middle Center</option>
              <option value="middle-right" class="ng-binding">Middle Right</option>
              <option value="bottom-left" class="ng-binding">Bottom Left</option>
              <option value="bottom-center" class="ng-binding">Bottom Center</option>
              <option value="bottom-right" class="ng-binding">Bottom Right</option>
            </select>
          </div>
        </div>
        </position-setting>
        </div>
      <hr/>
	</div><!-- End Modal Body-->
		
	<!--Modal Footer-->
	<div class="modal-footer">
    <div class="pull-right">
      <button type="button" class="btn btn-primary btn-fixed-width" ng-click="save()" ng-disabled="forms.companyForm.$invalid">Save
        <i class="fa fa-white fa-check icon-right"></i>
      </button>
      <button type="button" class="btn btn-default btn-fixed-width close-company-settings-button" data-dismiss="modal" ng-click="closeModal()">Cancel
        <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
    </div><!-- End Modal Footer-->
		
	</div><!-- End Modal Content-->
	</div><!-- End Modal -->
	</div><!-- End Container Fluid-->

  </body>
</html>
