
<!DOCTYPE html>
<html ng-app="MockupsApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>UX Mockups</title>

    <!-- app css -->
    <link href="../../../bower_components/rv-common-style/dist/css/rise.min.css" rel="stylesheet" type="text/css">
	  <link href="../../../bower_components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css" rel="stylesheet" type="text/css">
	  <link href="../../../bower_components/bootstrap-select/bootstrap-select.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.2.23/angular-touch.js"></script>
    <script src="../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../../bower_components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<!--script for transition drop down-->
<script type="text/javascript">
$(document).ready(function(){
      $("select").change(function(){
        $(this).find("option:selected").each(function(){
            if($(this).attr("value")=="fade"){
                $(".box").not(".fadeDiv").hide();
                $(".fadeDiv").show();
            }
            else if($(this).attr("value")=="scroll"){
                $(".box").not(".scrollDiv").hide();
                $(".scrollDiv").show();
            }
          else if($(this).attr("value")=="page"){
                $(".box").not(".pageDiv").hide();
                $(".pageDiv").show();
            }
          
            else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>
    
<!--script for items to show error-->
<script>
  $(document).ready(function(){
    $("#showDiv").hide();
    $("#showDiv2").hide();


  $("#textfield").keyup(function(){
    if($(this).val()) {
        $("#showDiv").hide();
    } else {
        $("#showDiv").show();
    }
        
});
    $("#textfield2").keyup(function(){
    if($(this).val()) {
        $("#showDiv2").hide();
    } else {
        $("#showDiv2").show();
    }
        
});
    
    });
    </script>
	<style>
		.landscape-layout { 
			width:160px;
		}
		
		.portrait-layout { 
			width:70px;
		}	
	  </style>
  </head>
  <body>
	

	<!-- Main View -->
    <div ng-include="'../../../partials/common-header.html'" scope="" onload=""></div>
	<div class="container-fluid">
    <div class="modal-dialog modal-lg">
	<!-- MODAL-->
	<div class="modal-content scrollable-list">
			
	<!-- Start Modal Header-->
		<div class="modal-header">
  <button type="button" class="close">
    <i class="fa fa-times half-top"></i>
  </button>
  <h2 class="modal-title">RSS Settings <button class="btn btn-link">
				<i class="fa fa-github fa-2x icon-gray"></i>
			</button></h2> 
			
		</div>
		
	<!-- End Modal Header-->

	<!-- Start Modal Body-->
	 <div class="modal-body">

		<!-- RSS URL-->
		<div class="form-group">
			<label ng-if="!hideLabel" class="ng-binding ng-scope">RSS URL</label>
			<input type="text" class="form-control small-bottom" value="http:www.badurl" onclick="document.location='settings-rss.html';">
          <div class="form-group">
    <div class="form-group">
      <p class="text-danger ng-binding ng-scope">Please provide a valid URL to a RSS feed.</p>
		  <div class="checkbox" ng-show="forcedValid || !valid" onclick="document.location='settings-rss.html';">
			<label class="ng-binding">
			  <input name="validate-url" type="checkbox" value="validate-url"> Remove Validation
			</label>
		  </div>
        </div>

	   </div>
	</div><!-- END RSS URL-->
		<br> 

		<!-- Items to Show and Max Items In Queue-->
		<div class="row">	 
			<div class="col-md-3">
			  <div class="form-group">
				<label class="control-label">Items to Show</label>
				<input id="textfield" type="number" class="form-control" value="2">
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="form-group">
				<label class="control-label">Max Items in Queue</label>
				<input id="textfield2" type="number" class="form-control" value="5">
			  </div>
			</div>
		</div>
       
      <!-- Error for Items to Show -->
       <div id="showDiv">
       <div class="form-group">
      <p class="text-danger ng-binding ng-scope">Please provide a numeric value for "Items to Show".</p>
		  <div class="checkbox" ng-show="forcedValid || !valid" onclick="document.location='settings-rss.html';">
			
		  </div>
        </div>
       </div>
       
     <!-- Error for Max Items in Queue -->
        <div id="showDiv2">
       <div class="form-group">
      <p class="text-danger ng-binding ng-scope">Please provide a numeric value for "Max Items in Queue".</p>
		  <div class="checkbox" ng-show="forcedValid || !valid" onclick="document.location='settings-rss.html';">
			
		  </div>
        </div>
       </div>
       <hr/>
		<!--Transitions-->
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Transition</label>
      <select id="scroll-by" class="form-control ng-valid ng-pristine">
        <option value="none" class="ng-binding" selected onclick="document.location='settings-rss-disable-heading.html';">None</option>
        <option value="fade" class="ng-binding">Fade</option>
        <option value="scroll" class="ng-binding">Scroll</option>
        <option value="page" class="ng-binding">Page</option>
      </select>
    </div>
  </div>
</div>
       
<div class="row">  
  <!--Fade Transition-->
  <div class="fadeDiv box">
    <div class="col-md-3">
				<div class="form-group">
				<label class="control-label">Show Each Item for</label>
				   <div class="input-group">
					   <input id="scroll-horizontal" name="scrollHorizontal" type="number"  class="form-control" value="10">
					   <span class="input-group-addon ng-binding">sec</span>
					</div>
				</div>
			</div>
  </div>
        
  <!--Scroll Transition-->
  <div class="scrollDiv box">
    <div class="col-md-3">
				<div class="form-group">
				<label class="control-label">Show Each Item for</label>
				   <div class="input-group">
					   <input id="scroll-horizontal" name="scrollHorizontal" type="number"  class="form-control" value="10">
					   <span class="input-group-addon ng-binding">sec</span>
					</div>
				</div>
			</div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Speed</label>
      <select id="scroll-speed" class="form-control ng-pristine ng-valid">
        <option value="slow">Slow</option>
        <option value="medium" selected>Medium</option>
        <option value="fast">Fast</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Resume Play</label>
      <span popover="If content is interacted with resume playing after this set duration." popover-trigger="click" popover-placement="right" rv-tooltip="" class="ng-scope fa fa-question-circle fa-lg"></span>
      <div class="input-group">
        <input id="scroll-pause" type="number" class="form-control" value="5">
        <span class="input-group-addon ng-binding">sec</span>
      </div>
    </div>
  </div>
    <div class="col-md-3">
			  <div class="form-group">
                <label class="control-label">PUD Failover</label>
      <span popover="Duration that this widget should be shown in a playlist in the event of no scrolling or insufficient content to scroll." popover-trigger="click" popover-placement="right" rv-tooltip="" class="ng-scope fa fa-question-circle fa-lg"></span>
      <div class="input-group">
        <input id="scroll-pud" type="number" class="form-control"  value="10">
        <span class="input-group-addon ng-binding">sec</span>
      </div>
			  </div>
			</div>
  </div>
        <!--Page Transition-->
  <div class="pageDiv box">
    <div class="col-md-3">
				<div class="form-group">
				<label class="control-label">Show Each Item for</label>
				   <div class="input-group">
					   <input id="scroll-horizontal" name="scrollHorizontal" type="number"  class="form-control" value="10">
					   <span class="input-group-addon ng-binding">sec</span>
					</div>
				</div>
			</div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Resume Play</label>
      <span popover="If content is interacted with resume playing after this set duration." popover-trigger="click" popover-placement="right" rv-tooltip="" class="ng-scope fa fa-question-circle fa-lg"></span>
      <div class="input-group">
        <input id="scroll-pause" type="number" class="form-control" value="5">
        <span class="input-group-addon ng-binding">sec</span>
      </div>
    </div>
  </div>
    <div class="col-md-3">
      <div class="form-group">
      <label class="control-label">PUD Failover</label>
      <span popover="Duration that this widget should be shown in a playlist in the event of no scrolling or insufficient content to scroll." popover-trigger="click" popover-placement="right" rv-tooltip="" class="ng-scope fa fa-question-circle fa-lg"></span>
      <div class="input-group">
        <input id="scroll-pud" type="number" class="form-control"  value="10">
        <span class="input-group-addon ng-binding">sec</span>
      </div>
      </div>
    </div>
  </div>
</div>
      <hr/>

		<!-- Data Selection -->
		 <label class="control-label add-top">Data Selection</label>
       <div class="row">	 
			<div class="checkbox">
				<div class="form-group">
				<div class="col-md-3">
					<label class="add-bottom">
					  <input type="checkbox" checked="checked" onclick="document.location='settings-rss-disable-heading.html';"> Show Title
					</label>
				</div>
				<div class="col-md-3">
					<label class="add-bottom">
					  <input type="checkbox" checked="checked">Show Timestamp
					</label>
				</div>
				<div class="col-md-3">
					<label class="add-bottom">
					  <input type="checkbox" checked="checked"> Show Author
					</label>
				  </div>
                  <div class="col-md-3">
					<label class="add-bottom">
					  <input type="checkbox" checked="checked">Show  Image
					</label>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">	 
			<div class="radio">
				<div class="col-md-3">
				  <label class="radio-inline add-bottom">
					<input type="radio" name="inlineRadioOptions" value="1" checked> Show Full Description
				  </label>
				</div>
				<div class="col-md-3">
					<label class="radio-inline add-bottom">
					<input type="radio" name="inlineRadioOptions" value="0" > Show Description Snippet
				  </label>
				</div>
				
			</div>
		</div>
		 
<hr/>
		<br/>

		<!--Heading Format-->			 
		<div class="row">	 
		<div class="col-md-12">
			<label class="control-label">Title Style</label>
			<ul class="list-inline font-setting" >
				<!-- Font Family -->
				<li class="pull-left">
					<font-picker>
						<div class="font-picker">
						<div class="bfh-selectbox">
						<input class="font-family" type="hidden" value="Verdana">
						<button type="button" class="btn btn-default btn-sm dropdown-toggle font-select-btn" data-toggle="bfh-selectbox">
						<span class="bfh-selectbox-option">Verdana</span>
						<span class="caret selectbox-caret"></span>
						</button>
						<div class="bfh-selectbox-options">
						<div role="listbox">

						</div>
						</div>
						</div>

						<!-- Custom Font -->
						<div class="custom-font modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
						<div class="modal-dialog">

						</div>
						</div>
						</div>
					</font-picker>
				</li>

				<!-- Font Size -->
				<li class="pull-left">
				<font-size-picker ng-model="fontData.size" class="ng-pristine ng-valid">
					<select class="form-control bfh-fontsizes" data-style="btn-default btn-sm" style="display: none;">
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="14">14</option>
						<option value="18">18</option>
						<option value="24">24</option>
						<option value="30">30</option>
						<option value="36">36</option>
						<option value="48">48</option>
						<option value="60">60</option>
						<option value="72">72</option>
						<option value="96">96</option>
					</select>
					<div class="btn-group bootstrap-select form-control bfh-fontsizes">
						<button type="button" class="btn dropdown-toggle selectpicker btn-default btn-sm" data-toggle="dropdown" title="20">
							<span class="filter-option pull-left">20</span>&nbsp;
							<span class="caret"></span></button>
						<div class="dropdown-menu open"></div>
					</div>
				  </font-size-picker>
			  </li>

				<!-- Alignment -->
				<li class="pull-left">
						<alignment align="fontData.align" class="font-setting-button ng-isolate-scope"><div class="btn-group alignment">
							<button type="button" class="btn btn-default btn-sm btn-alignment dropdown-toggle" data-toggle="dropdown" data-wysihtml5-command-value="left">
							<i class="fa fa-align-left"></i>
							<span class="caret"></span>
							</button>
							<div class="dropdown-menu" role="menu">
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="left" tabindex="-1">
								<i class="fa fa-align-left"></i>
							  </button>
							  <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="center" tabindex="-1">
								<i class="fa fa-align-center"></i>
							  </button>
							  <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="right" tabindex="-1">
								<i class="fa fa-align-right"></i>
							  </button>
							  <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="justify" tabindex="-1">
								<i class="fa fa-align-justify"></i>
							  </button>
							</div>
							</div>
							</div>
						</alignment>
					</li><!-- End Alignment -->
				
				<!--Bold Italic Underlined-->
				<li class="font-setting-button">
				<font-style bold="fontData.bold" italic="fontData.italic" underline="fontData.underline" class="ng-isolate-scope"><div class="btn-group">
			<a class="btn btn-sm btn-default bold" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1">B</a>
			<a class="btn btn-sm btn-default italic" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1">I</a>
			<a class="btn btn-sm btn-default underline" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1">U</a>
			</div>
			</font-style>
			  </li>
				
				<!--Font Color-->
				<li class="pull-left font-setting-button">
				<input color-picker="" type="text" color="fontData.color" class="ng-isolate-scope" style="display: none;"><div class="sp-replacer text-color-picker sp-light"><div class="sp-preview" style="border-color: rgb(0, 0, 0);"><div class="sp-preview-inner"><div class="sp-preview-char">A</div></div></div><b class="caret"></b></div>
			  </li>
				
				<!--Font Highlight-->
				<li class="pull-left font-setting-button">
				<input color-picker="" type="highlight" color="fontData.highlightColor" class="ng-isolate-scope" style="display: none;"><div class="sp-replacer highlight-color-picker sp-light"><div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgba(0, 0, 0, 0);"><img src="http://s3.amazonaws.com/rise-common-test/scripts/spectrum/images/text-highlight.png"></div></div><b class="caret"></b></div>
			  </li>
			  
			</ul>
			</div>
		</div>    
		<div class="row">
			<div class="col-md-12">	 
				<div class="font-picker-text form-group">
				  <span class="ng-binding" style="font-family: Verdana; font-size: 20px; font-weight: normal; font-style: normal; text-decoration: none; color: black; background-color: transparent;">Title Style Sample Text</span>
				</div>
			 </div>
		</div>
		<!--End Story Format-->	
		<!--End Heading Format-->

		<!--Story Format-->
		<div class="row">	 
		<div class="col-md-12">
			<label class="control-label">Description Style</label>
			<ul class="list-inline font-setting" >
				<!-- Font Family -->
				<li class="pull-left">
					<font-picker>
						<div class="font-picker">
						<div class="bfh-selectbox">
						<input class="font-family" type="hidden" value="Verdana">
						<button type="button" class="btn btn-default btn-sm dropdown-toggle font-select-btn" data-toggle="bfh-selectbox">
						<span class="bfh-selectbox-option">Verdana</span>
						<span class="caret selectbox-caret"></span>
						</button>
						<div class="bfh-selectbox-options">
						<div role="listbox">

						</div>
						</div>
						</div>

						<!-- Custom Font -->
						<div class="custom-font modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
						<div class="modal-dialog">

						</div>
						</div>
						</div>
					</font-picker>
				</li>

				<!-- Font Size -->
				<li class="pull-left">
				<font-size-picker ng-model="fontData.size" class="ng-pristine ng-valid">
					<select class="form-control bfh-fontsizes" data-style="btn-default btn-sm" style="display: none;">
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="14">14</option>
						<option value="18">18</option>
						<option value="24">24</option>
						<option value="30">30</option>
						<option value="36">36</option>
						<option value="48">48</option>
						<option value="60">60</option>
						<option value="72">72</option>
						<option value="96">96</option>
					</select>
					<div class="btn-group bootstrap-select form-control bfh-fontsizes">
						<button type="button" class="btn dropdown-toggle selectpicker btn-default btn-sm" data-toggle="dropdown" title="20">
							<span class="filter-option pull-left">20</span>&nbsp;
							<span class="caret"></span></button>
						<div class="dropdown-menu open"></div>
					</div>
				  </font-size-picker>
			  </li>

				<!-- Alignment -->
				<li class="pull-left">
						<alignment align="fontData.align" class="font-setting-button ng-isolate-scope"><div class="btn-group alignment">
							<button type="button" class="btn btn-default btn-sm btn-alignment dropdown-toggle" data-toggle="dropdown" data-wysihtml5-command-value="left">
							<i class="fa fa-align-left"></i>
							<span class="caret"></span>
							</button>
							<div class="dropdown-menu" role="menu">
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="left" tabindex="-1">
								<i class="fa fa-align-left"></i>
							  </button>
							  <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="center" tabindex="-1">
								<i class="fa fa-align-center"></i>
							  </button>
							  <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="right" tabindex="-1">
								<i class="fa fa-align-right"></i>
							  </button>
							  <button type="button" class="btn btn-default btn-sm" data-wysihtml5-command="alignment" data-wysihtml5-command-value="justify" tabindex="-1">
								<i class="fa fa-align-justify"></i>
							  </button>
							</div>
							</div>
							</div>
						</alignment>
					</li><!-- End Alignment -->
				
				<!--Bold Italic Underlined-->
				<li class="font-setting-button">
				<font-style bold="fontData.bold" italic="fontData.italic" underline="fontData.underline" class="ng-isolate-scope"><div class="btn-group">
			<a class="btn btn-sm btn-default bold" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1">B</a>
			<a class="btn btn-sm btn-default italic" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1">I</a>
			<a class="btn btn-sm btn-default underline" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1">U</a>
			</div>
			</font-style>
			  </li>
				
				<!--Font Color-->
				<li class="pull-left font-setting-button">
				<input color-picker="" type="text" color="fontData.color" class="ng-isolate-scope" style="display: none;"><div class="sp-replacer text-color-picker sp-light"><div class="sp-preview" style="border-color: rgb(0, 0, 0);"><div class="sp-preview-inner"><div class="sp-preview-char">A</div></div></div><b class="caret"></b></div>
			  </li>
				
				<!--Font Highlight-->
				<li class="pull-left font-setting-button">
				<input color-picker="" type="highlight" color="fontData.highlightColor" class="ng-isolate-scope" style="display: none;"><div class="sp-replacer highlight-color-picker sp-light"><div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgba(0, 0, 0, 0);"><img src="http://s3.amazonaws.com/rise-common-test/scripts/spectrum/images/text-highlight.png"></div></div><b class="caret"></b></div>
			  </li>
			  
			</ul>
			</div>
		</div>    
		<div class="row">
			<div class="col-md-12">	 
				<div class="font-picker-text form-group">
				  <span class="ng-binding" style="font-family: Verdana; font-size: 20px; font-weight: normal; font-style: normal; text-decoration: none; color: black; background-color: transparent;">Description Style Sample Text</span>
				</div>
			 </div>
		</div>
		<!--End Story Format-->			 
		<hr/>
		<br/>

		<!--Layout-->
		<div id="layouts" >
		<label class="control-label">Layout</label>
		<div class="row">
		<div class="form-group">
			<div class="col-md-4 radio-vertical-align add-bottom">
				<input type="radio" name="layoutRadioOptions" value="0" checked>
				<label class="radio-inline">
					<img class="landscape-layout" src="img/4x1-layout.png">
				</label>
			</div>
			<div class="col-md-4 radio-vertical-align add-bottom">
				<input type="radio" name="layoutRadioOptions" value="0">
				<label class="radio-inline">
					<img class="landscape-layout" src="img/2x1-layout.png">
				</label>
			</div>
			<div class="col-md-4 radio-vertical-align">
				<input type="radio" name="layoutRadioOptions" value="0">
				<label class="radio-inline">
					<img class="portrait-layout" src="img/1x2-layout.png">
				</label>
			</div>
		</div>
		</div>
		
		<!--Custom Layout Radio-->
		<div class="row">
		<div class="form-group">
			<div class="col-md-12">
				<label class="radio-inline">
					<input type ="radio" id="radio-id" name="layoutRadioOptions" >Custom Layout URL
				</label>
			</div>
		</div>
		</div>
		 
		<!-- Show DIV if Custom Radio Selected-->
		 <div id="custom-layout" class="half-top"> 
			 <div class="form-group">
  <!-- ngIf: !hideLabel -->
  <div>
    <input name="url" type="text" ng-model="url" ng-blur="blur()" class="form-control ng-pristine ng-valid ng-touched" placeholder="http://" onclick="document.location='settings-rss_invalid-url2.html';">
  </div>
  <!-- ngIf: !valid && invalidType === 'url' -->
  <!-- ngIf: !valid && invalidType === 'image' -->
  <!-- ngIf: !valid && invalidType === 'video' -->
  <!--<div class="checkbox ng-hide" ng-show="forcedValid || !valid">
    <label class="ng-binding">
      <input name="validate-url" ng-click="doValidation = !doValidation" type="checkbox" value="validate-url"> Remove Validation
    </label>
  </div>-->
</div>
		</div>
          
           <!-- Seperator-->
        <div class="form-group">
          		 <label class="control-label add-top">Separator</label>

          <div class="row">
            <div class="col-md-2">
				<input class="half-top half-bottom" type="checkbox" checked="checked"  onclick="document.location='settings-rss-disable-separator.html';"> Show Separator Between Stories
		    </div>
          <div class="col-md-3">
				<div class="form-group">
				   <div class="input-group">
					   <input id="scroll-horizontal" name="scrollHorizontal" type="number"  class="form-control" value="1">
					   <span class="input-group-addon ng-binding">size (px)</span>
					</div>
				</div>
			</div>
            <div class="col-md-3">
                  <div class="background-color-picker">
  <div class="background-color-picker-input" style="position:relative;">
    <div class="input-group ng-untouched ng-valid ng-dirty ng-valid-parse" colorpicker="rgba" colorpicker-parent="true" ng-model="background.color">
      <input class="form-control ng-valid ng-touched ng-dirty" type="text" ng-model="background.color" placeholder="rgb(238, 238, 238)">
      <span class="input-group-addon color-wheel"><img style="width:30px;padding:-10px;margin:-10px;" src="https://s3.amazonaws.com/Rise-Images/UI/color_wheel.png"/></span>
    </div>
  <div class="colorpicker dropdown ng-scope alpha colorpicker-position-bottom" style="top: 36px; left: 0px;"><div class="dropdown-menu"><colorpicker-saturation style="background-color: rgb(255, 0, 0);"><i style="left: 87.8378px; top: 41.9608px;"></i></colorpicker-saturation><colorpicker-hue><i style="top: 0px;"></i></colorpicker-hue><colorpicker-alpha><i style="top: 0px;"></i></colorpicker-alpha><colorpicker-preview style="background-color: rgb(148, 18, 18);"></colorpicker-preview><button type="button" class="close close-colorpicker">×</button></div></div></div>
</div>
                  </div>
        </div>
        </div>
          <hr/>
			 
		</div>
		
	</div><!-- End Modal Body-->
		
	<!--Modal Footer-->
	<div class="modal-footer">
    <div class="pull-right">
      <button type="button" class="btn btn-primary btn-fixed-width" ng-click="save()" ng-disabled="forms.companyForm.$invalid">Save
        <i class="fa fa-white fa-check icon-right"></i>
      </button>
      <button type="button" class="btn btn-default btn-fixed-width close-company-settings-button" data-dismiss="modal" ng-click="closeModal()">Cancel
        <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
  </div><!-- End Modal Footer-->
		
	</div><!-- End Modal Content-->
	</div><!-- End Modal -->
	</div><!-- End Container Fluid-->

  </body>
</html>
