/*  CUSTOM CLASSES FOR PRODUCT INTRO -- TEST THIS  */

.product-intro {
    max-width: 523px; //'ASSETS' orphan keyword
}

.product-graphic {
    position: relative;
    width: 128px;
    height: 67px;
    margin: 44px auto 0;
    text-align: center;
}











