/** Volume **/
.slider-selection{
  left: 0%; 
  width: 50%;
}

.round {
  left: 50%;
}


.scroll-wrapper {
  height: 100%;
}

.scroll-content {
  height: 95%;
  overflow: auto;
}

/** In App Storage **/
.grey {
  color: #ccc;
}

.green {
  color: #4ab767;
}

.unselectable {
  opacity: .5;
  cursor: not-allowed !important;
}

.selectable:hover {
  background-color:#f5f5f5;
 }
