
<!DOCTYPE html>
<html ng-app="MockupsApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>UX Mockups</title>

    <!-- app css -->
    <link href="../../bower_components/rv-common-style/dist/css/rise.min.css" rel="stylesheet" type="text/css">
    <link href="../../bower_components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css" rel="stylesheet" type="text/css">
    <link href="../../bower_components/bootstrap-select/bootstrap-select.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.2.23/angular-touch.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../../bower_components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
    <!-- app js -->	 
    <script src="../../js/app.js"></script>
  </head>

  <body>
	<!-- Header Nav -->
	

	<!-- Main View -->
    <div ng-include="'../../partials/common-header.html'" scope="" onload=""></div>
    <div class="overlay"></div>
    <div class="container-fluid">
    <div class="modal-dialog modal-lg">
    <!-- MODAL-->
    <div class="modal-content scrollable-list">
			
	<!-- Start Modal Header-->
    <div class="modal-header">
      <button type="button" class="close">
      <i class="fa fa-times half-top"></i>
      </button>
      <h2 class="modal-title">Select a File<button class="btn btn-link">
      </button>
      </h2> 
    </div>	
	<!-- End Modal Header-->

	<!-- Start Modal Body-->
    <div class="modal-body">
       <div class="description" style="position:absolute;">
                  <p><strong>mlm@risevision.com's Company</strong></p>
                </div>
      <div class="icon-nav pull-right">
                  <button class="btn btn-link">
                    <svg-icon p="iconNewFolder"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M30.7 8c-0.8-0.8-1.9-1-3.1-1H15V5.9c0-1.2-0.5-2-1.4-2.8C12.8 2.2 11.7 2 10.5 2H4.3C3.1 2 2.1 2.2 1.3 3.1 0.4 3.9 0 4.7 0 5.9v18.5c0 1.2 0.4 2.3 1.3 3.2C2.1 28.5 3.1 29 4.3 29h23.3c1.2 0 2.2-0.5 3.1-1.4 0.9-0.9 1.3-2 1.3-3.2V10.8C32 9.6 31.6 8.9 30.7 8zM23 20h-5v5h-4v-5H9v-4h5v-5h4v5h5V20"></path><path d=""></path></svg></svg-icon>
                  </button>
                  <button for="upload-files" class="btn btn-link">
                    <i class="fa fa-cloud-upload"></i>
                  </button>
                  <button class="btn btn-link" ng-click="showSelectorFileSearch()">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
      
 

      <div ng-controller="FileListCtrl" id="list" class="ng-scope add-top-double">

<div class="container ng-scope ng-hide" id="fileinspector_noFiles" >
<div class="file-empty-state">
  <div class="product-graphic">
    <svg-icon p="riseStorage"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M8 32h20.2c2.1 0 3.8-1.7 3.8-3.8V9L8 32zM19 29v-4h4.3L19 29zM25 23v-4h4.3L25 23zM24 31v-7h7.3L24 31z"></path><path d="M1.8 9.1c1.2 0.7 2.9 1.3 5 1.7 2.1 0.4 4.4 0.6 6.9 0.6 2.5 0 4.8-0.2 6.9-0.6 2.1-0.4 3.5-1 4.8-1.7C26.6 8.4 27 7.7 27 6.9V4.6c0-0.8-0.4-1.6-1.6-2.3 -1.2-0.7-2.8-1.3-4.9-1.7C18.4 0.2 16.1 0 13.7 0c-2.5 0-4.7 0.2-6.8 0.6C4.7 1 3 1.6 1.8 2.3 0.6 3 0 3.7 0 4.6v2.3C0 7.7 0.6 8.4 1.8 9.1zM1.8 16c1.2 0.7 2.9 1.3 5 1.7 2.1 0.4 4.4 0.6 6.9 0.6 2 0 3.9-0.1 5.7-0.4l6.6-6.4c-1.2 0.6-2.7 1.1-4.5 1.5 -2.5 0.5-5.1 0.8-7.9 0.8 -2.8 0-5.5-0.3-7.9-0.8C3.3 12.4 1 11.7 0 10.7v3C0 14.5 0.6 15.3 1.8 16zM1.8 22.9c1.2 0.7 2.9 1.3 5 1.7 1.6 0.3 3.3 0.5 5.1 0.6l4.8-4.6c-1 0.1-2 0.1-3 0.1 -2.8 0-5.5-0.3-7.9-0.8C3.3 19.3 1 18.5 0 17.5v3C0 21.4 0.6 22.2 1.8 22.9zM5.8 26.7C3.3 26.1 1 25.4 0 24.4v3c0 0.8 0.6 1.6 1.9 2.3 1 0.6 2.3 1 3.8 1.4l4-3.9C8.3 27.1 7 26.9 5.8 26.7z"></path></svg></svg-icon>
  </div>
  <p>You haven't added files yet! </p>
  <br>
  <span> Select 
    <button type="button" class="btn btn-link" title="Upload" disabled="disabled">
      <i class="fa fa-cloud-upload fa-2x"></i>
    </button>
    above to upload a file,<br>
    or 
    <button type="button" class="btn btn-link" title="Add Folder" disabled="disabled">
      <svg-icon p="iconNewFolder"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M30.7 8c-0.8-0.8-1.9-1-3.1-1H15V5.9c0-1.2-0.5-2-1.4-2.8C12.8 2.2 11.7 2 10.5 2H4.3C3.1 2 2.1 2.2 1.3 3.1 0.4 3.9 0 4.7 0 5.9v18.5c0 1.2 0.4 2.3 1.3 3.2C2.1 28.5 3.1 29 4.3 29h23.3c1.2 0 2.2-0.5 3.1-1.4 0.9-0.9 1.3-2 1.3-3.2V10.8C32 9.6 31.6 8.9 30.7 8zM23 20h-5v5h-4v-5H9v-4h5v-5h4v5h5V20"></path><path d=""></path></svg></svg-icon>
    </button>
    to create a folder.
  </span>
</div>
</div>

<div class="content-box ng-hide" ng-show="activeFolderDownloads.length > 0">

</div>
<div class="content-box" ng-show="filesDetails.bucketExists">
<div class="scrollable-list">

<table class="table-2 table-hover table-selector single-selector">
  <thead>
    <tr>
      <th class="col-sm-6">
        <input type="checkbox" class="add-right ng-pristine ng-untouched ng-valid" ng-model="selectAll">
        <label ng-click="selectAllCheckboxes(query)" ng-show="storageFull || multipleFileSelector" class="ng-hide"></label>
        <a href="" ng-click="orderByAttribute = fileNameOrderFunction; reverseSort = !reverseSort">
          <span translate="common.file-name" class="ng-scope">Name</span>
          <span ng-show="orderByAttribute==fileNameOrderFunction">
            <span ng-show="reverseSort" class="ng-hide">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
        </a>
      </th>
      <th class="col-sm-2 hidden-xs" ng-click="orderByAttribute = fileExtOrderFunction; reverseSort = !reverseSort">
        <a href=""><span translate="common.file-type" class="ng-scope">Type</span>
          <span ng-show="orderByAttribute==fileExtOrderFunction" class="ng-hide">
            <span ng-show="reverseSort" class="ng-hide">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr class="clickable-row ng-scope no-select-row" >
<td colspan="4"  class="ng-scope">
        <span class="folder ng-binding" ondblclick="document.location='in-app-storage_single-stage2.html';"><i class="green fa fa-folder" ></i> my-videos/</span>
      </td>
    </tr><tr class="clickable-row ng-scope no-select-row" >
<td colspan="4"  class="ng-scope">
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
      
    </div><!-- End Modal Body-->
		
	<!--Modal Footer-->
	
    <!-- End Modal Footer-->
		
	</div><!-- End Modal Content-->
	</div><!-- End Modal -->
	</div><!-- End Container Fluid-->

  </body>
</html>
